# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# PyInstaller / Build artifacts
build/
dist/
*.spec
installer/
*.iss

# Application specific
config.json
history.json

# IDEs
.vscode/
.idea/
*.swp
